{% extends "login/header.html" %}
{% block content %}
<br>

<div class="container">
  <div class="row justify-content-md-center">
<canvas id="line-chart" class="my-4"  ></canvas>
</div>
</div>
<script>

Chart.defaults.global.elements.line.fill = false;

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: {{ labels|safe }},
    datasets: {{ data_list|safe  }}
  },
  options: {
  	responsive:true,
    title: {
      display: true,
      text: 'Water properties vs Time'
    }
  }
});



</script>



{% endblock %}