{% extends "login/header.html" %}
{% block content %}
<br>
<br>
<br>



{% if obj %}
<h1 align="center">Generated Report of {{ name }}</h1>
<div class="table-responsive">
<table class="table table-sm table-dark">
	<tr><th>Date</th>
		{% for item in obj %}
		<td>{{ item.date }}</td>
		{% endfor %}
		</tr>
		<tr><th>pH val</th>
		{% for item in obj %}
		<td>{{ item.ph_val }}</td>
		{% endfor %}
		</tr>
		<tr><th>Dissolved Oxygen</th>
		{% for item in obj %}
		<td>{{ item.dissolved_oxygen }}</td>
		{% endfor %}
		</tr>
		<tr><th>Biological oxygen demand</th>
		{% for item in obj %}
		<td>{{ item.biological_oxygen_demand }}</td>
		{% endfor %}
		</tr>
		<tr><th>Calcium</th>
		{% for item in obj %}
		<td>{{ item.calcium }}</td>
		{% endfor %}
		</tr>
		<tr><th>Magnesium</th>
		{% for item in obj %}
		<td>{{ item.magnesium }}</td>
		{% endfor %}
		</tr>
		<tr><th>Sulphates</th>
		{% for item in obj %}
		<td>{{ item.sulphate }}</td>
		{% endfor %}
		</tr>
		<tr><th>Nitrates</th>
		{% for item in obj %}
		<td>{{ item.nitrate }}</td>
		{% endfor %}
		</tr>
		<tr><th>Electrical conductivity</th>
		{% for item in obj %}
		<td>{{ item.electrical_conductivity }}</td>
		{% endfor %}
		</tr>
		<tr><th>Total dissolved solids</th>
		{% for item in obj %}
		<td>{{ item.total_dissolved_solids }}</td>
		{% endfor %}
		</tr>
		<tr><th>Total Suspended Solids</th>
		{% for item in obj %}
		<td>{{ item.total_suspended_solids }}</td>
		{% endfor %}
		</tr>
		<tr><th>Total Hardness</th>
		{% for item in obj %}
		<td>{{ item.total_hardness }}</td>
		{% endfor %}
		</tr>
		<tr><th>Total Alkalinity</th>
		{% for item in obj %}
		<td>{{ item.total_alkalinity }}</td>
		{% endfor %}
		</tr>
		<tr><th>Quality Index</th>
		{% for item in obj %}
		{% if item.quality_index < 150 %}
		<td style="background-color:green">{{ item.quality_index }}</td>
		{% else %}
		<td style="background-color:red" >{{ item.quality_index }}</td>
		{% endif %}
		{% endfor %}
		</tr>
		<!-- <th>pH val </th>
		<th>Dissolved Oxygen</th>
		<th>Biological oxygen demand</th>
		<th>Calcium</th>
		<th>Magnesium</th>
		<th>Sulphates</th>
		<th>Nitrates</th>
		<th>Electrical conductivity</th>
		<th>Total dissolved solids</th>
		<th>Total Suspended Solids</th>
		<th>Total Hardness</th>
		<th>Total Alkalinity</th>
		<th>Quality Index</th>
 								-->
	
	<!--  -->
		
		<!-- <tr>
			<td>{{ item.date }}</td>
			<td>{{ item.ph_val }}</td>
			<td>{{ item.dissolved_oxygen }}</td>
			<td>{{ item.biological_oxygen_demand }}</td>
			<td>{{ item.calcium }}</td>
			<td>{{ item.magnesium }}</td>
			<td>{{ item.sulphate }}</td>
			<td>{{ item.nitrate }}</td>
			<td>{{ item.electrical_conductivity }}</td>
			<td>{{ item.total_dissolved_solids }}</td>
			<td>{{ item.total_suspended_solids }}</td>
			<td>{{ item.total_hardness }}</td>
			<td>{{ item.total_alkalinity }}</td>
			<td>{{ item.quality_index }}</td>


	</tr> -->
	

</table>
</div>
{% else %}
<h2 align = "center">No Report to display</h2>

{% endif %}
<div class="container">
<a href="/retrieve/view"><button type="button" class="btn btn-dark">Go Back</button></a>
</div>
{% endblock %}